# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:8000/graphql
NEXT_PUBLIC_APP_URL=http://localhost:3000

# App Configuration
NEXT_PUBLIC_APP_NAME=Viajamos
NEXT_PUBLIC_APP_DESCRIPTION=MVP de Carpooling

# OAuth Configuration
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Environment
NODE_ENV=development
