# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# App Configuration
NEXT_PUBLIC_APP_NAME=Viaggiamo
NEXT_PUBLIC_APP_DESCRIPTION=MVP de Carpooling

# Environment
NODE_ENV=development
